.register-form {
  display: flex;
  flex-direction: column;
  max-width: 20vw;
  max-height: 40vh;
  margin: 1.2em;
  border: 1px solid grey;
  
}
.register-form  input {
  padding: 5px;
}
.form {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}
.title-form {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.margin-form {
  margin: 12px;
}
.info-user {
  display: flex;
}
.data-user {
  display: flex;
  flex-direction: column;
}
.name {
  /* flex-basis: 45%; */
  
  margin: 12px;
}
.data {
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 12px;
  
}
.main-form {
  /* display: flex;
  flex-direction: column;
  
  align-content: space-between;
  margin: 12px; */
}
.main-form > input {
  margin-bottom: 12px;
  
}
.checkbox-form {

}

